@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #93651a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 21px;
  width: 49%;
  background: #f5e6b4;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #dd3710;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #74380d;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 35px;
  width: 65%;
  background: #6b0bad;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #3ac67d;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #a039bf;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #976c25;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 65%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}
